/cresis-toolbox/cluster/mccExcludedFiles.log
/cresis-toolbox/cluster/readme.txt
/cresis-toolbox/cluster/requiredMCRProducts.txt
/cresis-toolbox/cluster/run_cluster_job.sh
/cresis-toolbox/cluster/cluster_job
*~
cresis-toolbox/cluster/unresolvedSymbols.txt
cresis-toolbox/cluster/includedSupportPackages.txt
/opr/cluster/mccExcludedFiles.log
/opr/cluster/readme.txt
/opr/cluster/requiredMCRProducts.txt
/opr/cluster/run_cluster_job.sh
/opr/cluster/cluster_job
*~
opr/cluster/unresolvedSymbols.txt
opr/cluster/includedSupportPackages.txt
