/cresis-toolbox-torque/mccExcludedFiles.log
/cresis-toolbox-torque/readme.txt
/cresis-toolbox-torque/requiredMCRProducts.txt
/cresis-toolbox-torque/run_worker_task.sh
/cresis-toolbox-torque/worker_task
